@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
}

@layer components {
    .terminal-input-container {
        @apply flex flex-row items-center w-full
    }

    .terminal-input {
        @apply scale-0
    }
    .terminal-command {
        @apply text-white
    }

    .terminal-cursor {
        @apply bg-tooltip w-[0.3rem] h-[1rem] -z-10
    }
    .terminal-user {
        @apply text-primary mr-1 
    }

    .terminal-output {
        @apply bg-gray-200
    }

}
