@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
}

@layer components {
    .terminal-input-container {
        @apply flex flex-row items-center w-full
    }

    .terminal-input {
        @apply scale-0
    }
    .terminal-command {
        @apply text-white
    }

    .terminal-cursor {
        @apply bg-tooltip w-[0.3rem] h-[1rem] -z-10
    }
    .terminal-user {
        @apply text-primary mr-1 
    }

    .terminal-output {
        @apply bg-gray-200
    }

}


@keyframes combinedHueAndPulseAndRotation {
    0%, 100% { 
        transform: scale(1) rotate(0deg); 
        filter: hue-rotate(0deg);
    }
    15% { 
        transform: scale(1.025) rotate(2deg); 
    }
    35% { 
        transform: scale(1) rotate(0deg); 
        filter: hue-rotate(180deg);
    }
    55% { 
        transform: scale(1.025) rotate(-2deg); 
    }
    75%{
        filter: hue-rotate(360deg);
    }
  }
  
.psychedelic {
    animation: combinedHueAndPulseAndRotation 9s cubic-bezier(0.645, 0.045, 0.355, 1) infinite alternate;
}
